<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/logout.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body>

<div class="container">

    <div>
        <a href="http://localhost:8080/allUsers">All Users</a>
    </div>
    <div>
        <a href="http://localhost:8080/messagesPage">Websocket</a>
    </div>
    <div>
        <a id = "logout" href="http://localhost:8080/loginPage">Logout</a>
    </div>

</div>

</body>
</html>
